.App {
  text-align: center;
}

h1 {
  font-size: 50px;
  color: crimson;
}

img {
  width: 30%;
}

a {
  text-decoration: none;
  color: darkseagreen;
  font-weight: 800;
  font-size: 20px;
}

#searchText {
  padding: 1vh;
  margin-right: 1vw;
}

.searchButton {
  padding: 1.2vh;
  background-color: darkseagreen;
  border: none;
  border-radius: 5px;
}

.searchButton:hover {
  background-color: coral;
}

.language {
  padding: 1vh;
  margin-top: 1vh;
}

.item_section h3 {
  margin-top: 10vh;
}

.item_section img {
  margin: 2vh 0;
}

.section_details {
  margin-top: 2vh;
}

.section_details p {
  width: 40%;
  margin: 2vh auto;
}